torch==2.6.0
torchvision==0.21.0
scikit-learn==1.6.1
numpy==2.0.2
pandas 
opencv-python==4.12.0.88
PyWavelets==1.9.0
scikit-image==0.25.2 
matplotlib==3.10.0
seaborn==0.13.2
tqdm==4.67.1
jupyter==1.0.0
notebook==6.5.7
transformers
accelerate

# Nota: As versões de torch/torchvision podem precisar ser ajustadas
#       dependendo do ambiente CUDA do usuário.

